<div class='logo-container'>
    <img src="assets/images/A28C4766-EF81-4620-9226-588C7404191F.svg" class="medium-logo">
</div>
<div class="main-container">
    
    <div class="main-buttons-container">

        <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">
            <label for="login-email">Email</label>
            <input required email ngModel type="text" id="login-email" name="login-email" placeholder="email@email.com">
            <input required ngModel type="password" id="pass-email" name="login-pass" placeholder="Senha">
            
            <button class="button-default" type="submit" [disabled]="!formLogin.valid"><span class="button-default-text">Entrar</span></button>
        </form>     

        <div class="secondary-link-container">
            <a class="link-small" [routerLink]="['/recoverpass']">Esqueceu a senha?</a>
        </div> 

        <div class="secondary-link-container">
            <a class="link-default" [routerLink]="['/signup']">Não tem uma conta? Cadastre-se</a>
        </div>
        
    </div>

</div>