<div class="main-container">
    <a [routerLink]="['/intro']"><img src="assets/images/A28C4766-EF81-4620-9226-588C7404191F.svg" class="medium-logo"></a>

    <div class="form-back-dark">
        <h2>Esqueceu a senha?</h2>
    
        <input type="password" id="red-pass" name="red-pass" placeholder="Nova senha">
        <input type="password" id="conf-red-pass" name="conf-red-pass" placeholder="Confirme sua senha">
        
        <button class="button-default" [routerLink]="['/intro']"><span class="button-default-text">Enviar instruções</span></button>
        
    </div>
</div>