
    <div class="splash ">
       <img class="fade-in" src="assets/images/832D477B-E9D7-45EF-8A17-2282BE7AFA15.svg">
    </div>
    <div class='logo-container'>
        <a [routerLink]="['/intro']"><img src="assets/images/A28C4766-EF81-4620-9226-588C7404191F.svg" class="medium-logo"></a>
    </div>
    <div class="main-container">
        
        
        <div class="main-buttons-container">
            <button class="button-default" [routerLink]="['/login']"><span class="button-default-text">Entrar</span></button>
            <div class="secondary-link-container">
                <a class="link-default" [routerLink]="['/signup']">Cadastre-se</a>
            </div>  
        </div>

    </div>
