<body>
    <div class="main-container">
        <div class="logo">
            <div class="logo-bg-top"></div>
            <div class="logo-purple-top"></div>
            <div class="logo-purple-bot"></div>
        </div>
        
        <div class="main-buttons-container">
            <button class="button-default" [routerLink]="['/login']"><span class="button-default-text">Entrar</span></button>
            <div class="secondary-link-container">
                <a class="link-default" [routerLink]="['/signup']">Cadastre-se</a>
            </div>  
        </div>

    </div>
</body>