<div class="main-container">
    <div class='logo-container'>
        <a [routerLink]="['/intro']"><img src="assets/images/A28C4766-EF81-4620-9226-588C7404191F.svg" class="medium-logo"></a>
    </div>
    <div class="form-back-dark">
        <h2>Esqueceu a senha?</h2>
    
        <input type="text" id="login-email" name="login-email" placeholder="Email">
        
        <button class="button-default" [routerLink]="['/intro']"><span class="button-default-text">Enviar instruções</span></button>
        
    </div>
</div>