<div class='logo-container'>
    <img src="assets/images/A28C4766-EF81-4620-9226-588C7404191F.svg" class="medium-logo">
</div>
<div class="main-container">
    
    <div class="main-buttons-container">
        <button class="button-default"><span class="button-default-text">Continuar com Facebook</span></button>
        <button class="button-default"><span class="button-default-text">Continuar com Gmail</span></button>
        <button class="button-inverse"><span class="button-inverse-text">Criar Conta</span></button>
    
        <div class="privacy-container">
            <hr>
            <p>
                Ao criar sua conta no Aula Zero, você aceita nossos <a [routerLink]="['/intro']">Termos de uso</a> e <a [routerLink]="['/intro']">Políticas de Privacidade</a>.
            </p>
        </div>

        <div class="secondary-link-container">
            <a class="link-default" [routerLink]="['/login']" >Já tem uma conta? Entre agora!</a>
        </div> 
    </div>
</div>
