<body>
    <div class="main-container">
        <div class="logo">
            <div class="logo-bg-top"></div>
            <div class="logo-purple-top"></div>
            <div class="logo-purple-bot"></div>
        </div>
        
        <div class="main-buttons-container">
            <button class="button-default"><span class="button-default-text">Continuar com Facebook</span></button>
            <button class="button-default"><span class="button-default-text">Continuar com Gmail</span></button>
            <button class="button-inverse"><span class="button-inverse-text">Criar Conta</span></button>
       
            <div class="privacy-container">
                <hr>
                <p>
                    Ao criar sua conta no Aula Zero, você aceita nossos <a href="#">Termos de uso</a> e <a href="#">Políticas de Privacidade</a>.
                </p>
            </div>

            <div class="secondary-link-container">
                <a class="link-default" [routerLink]="['/login']" >Já tem uma conta? Entre agora!</a>
            </div> 
        </div>

    </div>
</body>