* {
    font-family: 'Didact Gothic', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 5;
}

body {
    background-color: #7e0cf5;
    color: #f7beff;
    height: 100vh;
}

.main-container{
    height: 100vh;
    width: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.main-buttons-container{
    width: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

a{
    font-weight: bold;
    text-decoration: underline;
    color: #f7befb;
}

hr{
    bordeR: 0;
    border-top: .1px solid #f7beff;
    opacity: .2;
    margin: 10px auto;
}

.privacy-container{
    width: 100%;
    font-size: 13px;
    margin: 63px;
}

.button-default{
    letter-spacing: 1px;
    width: 312px;
    height: 44px;
    padding: 12px 16px;
    border: 0px;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    background-color: #f7beff;
    outline: 0px;
    margin: 15px;
}

.button-default-text {
    width: 280px;
    height: 20px;
    margin: 1px 0 0;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.51px;
    text-align: center;
    color: #7e0cf5;
}

.button-inverse{
    letter-spacing: 1px;
    width: 312px;
    height: 44px;
    padding: 12px 16px;
    border: 1px solid  #f7befb;
    border-radius: 12px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    background-color:  #7e0cf5;
    outline: 0px;
    margin: 15px;
}


.button-inverse-text {
    width: 280px;
    height: 20px;
    margin: 1px 0 0;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.51px;
    text-align: center;
    color: #fff;
}

.link-default{
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffc8c8;
    text-decoration: underline;
}

.link-small{
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.45px;
    text-align: center;
    color: #ffc8c8;
    text-decoration: none;
}

.secondary-link-container {
    margin: 15px 0;
}

.logo {
    margin: 50px auto;
    width: 97.4px;
    height: 159.9px;
    padding: 25.1px 24.5px 19.5px 24.5px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #f7befb;
    border-radius: 48.7px 48.7px 10px 10px;
    z-index: 2;
}

.logo-purple-top {
    width: 48.4px;
    height: 115.3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #7e0cf5;
    border-radius: 50px;
    margin-bottom: 10px;
    z-index: 4;
  }

  .logo-purple-bot {
    background-color: #7e0cf5;
    position: absolute;
    width: 48.4px;
    height: 48.4px;
    border-radius: 50px;
    z-index: 4;
}

/*****************************************
FORMS
*****************************************/

input {
    color: #f7befb;
    background: #7e0cf5;
    border: 0;
    border-bottom: 1px solid rgb(247, 189, 255, .5);
    outline: 0;
    width: 100%;
    font-size: 18px;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

input::placeholder{
    color: #f7beff;
    opacity: .5;
}

label {
    width: 100%;
    color:#090057;
    text-align: left;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.38px;
}
